{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class = "header-bar-task-form">
<h1>Register</h1>
</div>

<div class = "card-body">
    <form method = "POST">
        {% csrf_token %}
        <label>{{form.username.label}}</label>
        {{form.username}}
        <label>{{form.password1.label}}</label>
        {{form.password1}}
        <label>{{form.password2.label}}</label>
        {{form.password2}}
        <input style= "margin-top:10px" class = "button" type = "Submit" value = "Register">
    </form>
    <p>Already have an account? <a href = "{% url 'login' %}">Login</a>
    <img class = 'ctw-image' style="float: right; vertical-align: middle" src="{% static 'images/Horizontal_Logo_DarkBlueBackground.svg' %}">
    </p>
</div>

{% endblock content %}